html, body {
  height: 100%;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  background: green;
}

div#container {
  /*display: flex;*/
  /*height: inherit;
  width: inherit;*/
  position: relative;
}

div#overlay {
  height: inherit;
  width: inherit;
  margin: auto;
  position: fixed;
  top:0;
  left:0;
  pointer-events:none;
  z-index: 10;
}
div#image {
  z-index: 3;
  /*height: 800px;*/
  /*width: 100%;*/
  display: flex;
  position: fixed;
}
img#coverimage {
  display: block;
  margin: auto;
  position: absolute;
  /*top: 300px;*/
  /*left: 200px;*/
}
div#handle {
  display: none;
  z-index: 4;
  border: 1px #ccc solid;
  /*top: 300px;*/
  /*left: 200px;*/
  cursor: move;
}

div#dropzone {
  /*display: none;*/
  z-index: 5;
  height: 100%;
  width: 100%;
  border: 1px dotted red;
  margin: auto;
  position: absolute;
  top:0;
  left:0;
}

div#dropzone:before {
  /*content: "Drop image here";*/
  height: 100%;
  font-family: Arial;
  font-weight: 700;
  font-size: 300%;
  color: white;
  left: 27%;
  top: 50%;
  position: absolute;
  text-shadow: 0 0 3px #fff;
}

div#dropzone:hover {
  background-color: #ccc;
  opacity: 0.5;
  cursor: move;
}

div#dropzone:hover:before {
  content: "Drop image here";
  font-family: Arial;
  font-weight: 700;
  font-size: 300%;
  color: white;
  left: 27%;
  top: 50%;
  position: absolute;
  text-shadow: 0 0 3px #fff;
}
